[submodule "sel4-sys/seL4"]
	path = sel4-sys/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-pc99/seL4"]
	path = sel4-plat-pc99/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-sabre/seL4"]
	path = sel4-plat-sabre/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-omap3/seL4"]
	path = sel4-plat-omap3/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-am335x/seL4"]
	path = sel4-plat-am335x/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-exynos4/seL4"]
	path = sel4-plat-exynos4/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-exynos5410/seL4"]
	path = sel4-plat-exynos5410/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-exynos5422/seL4"]
	path = sel4-plat-exynos5422/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-exynos5250/seL4"]
	path = sel4-plat-exynos5250/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-apq8064/seL4"]
	path = sel4-plat-apq8064/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-wandq/seL4"]
	path = sel4-plat-wandq/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-imx7sabre/seL4"]
	path = sel4-plat-imx7sabre/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-zynq7000/seL4"]
	path = sel4-plat-zynq7000/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-zynqmp/seL4"]
	path = sel4-plat-zynqmp/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-ultra96/seL4"]
	path = sel4-plat-ultra96/seL4
	url = https://github.com/seL4/seL4.git
[submodule "sel4-plat-tk1/seL4"]
	path = sel4-plat-tk1/seL4
	url = https://github.com/seL4/seL4.git
